<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>상품 목록</h1>
    <hr>
    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>액션</td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="#">바나나</a></td>
            <td>
                <form action="#" method="post">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>